.pagination {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    .page {
        margin: 0 3px;
        outline: none;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color:#fff;
        box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.33);
    }
    .pageActive {
      margin: 0 3px;
      outline: none;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      background-color:#fff;
      box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.33);
      background-color: rgb(76, 133, 111);
      margin: 0 2px;
      padding: 10px;
    }
    .btn {
        outline: none;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color:#fff;
        box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.33);
    }
}
