.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    .input {
        padding: 5px;
        margin: 20px 5px 0;      
        display: inline-grid;  
        
    }

    input {
        border: 1px solid #dee2e6;
        padding: 5px;
        margin: 20px 5px 0;  
    outline: none;
    }
    .formBtn {
        margin-top: 20px;
    }
    .error {
        color: red;
    }
    .btnBlock {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        .btn {
            width: 20%;
            margin-left: 10px;
            outline: none;
        }
    }
}
