.footer {
    width: 100%;
    background-color: #fff!important;
    box-shadow: 0 0 10px 0 rgba(51,51,51,.33);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        color: #1890ff;
    }
}